<!--app-create-condition></app-create-condition-->
<p>
    Notes: This page is still in development. <br/>
    - Refresh of page is not working. If you clicked bychance, close the page and reopen the page.<br/>
    - Stylesheet is not working<br/>
    - To reset the condition, click on 'View Condition' link and then again click on 'Create Condition' link <br/>

</p>
<nav>
    <a routerLink="/createCondition">Create New Condition</a><br>
    <a routerLink="/viewConditionList">View Conditions</a>
</nav>
<router-outlet></router-outlet>